<div style="text-align:center;margin-top:100px;">
	<% if current_user %>
		<h1>coming soon.</h1>
	<% else %>
		<b>Sign In Using:</b>
		<div style="text-align:center;margin-top:10px;margin-bottom:10px;">
			<%= link_to image_tag("facebook.png"), "/auth/facebook", :title => "Facebook" %>
			<%= link_to image_tag("twitter.png"), "/auth/twitter", :title => "Twitter" %>
		</div>
		<strong>Don't use these services?</strong>
		<%= link_to "Create an account", "/auth/identity/register" %> or

		<div id="login-box" class="modal hide fade">
			<div class="modal-header">
				<a class="close" href="#">×</a>
				<h3>Login</h3>
			</div>
			<%= form_tag "/auth/identity/callback" do %>
			<div class="modal-body">
				<div class="clearfix">
					<label for="email_input">Email Address</label>
					<div class="input">
						<input type="text" size="30" name="auth_key" id="email_input" class="xlarge">
					</div>
				</div>

				<div class="clearfix">
					<label for="password_input">Password</label>
					<div class="input">
						<input type="password" size="30" name="password" id="email_input" class="xlarge">
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<%= submit_tag "Login", :class => "btn primary" %>
			</div>
			<% end %>
		</div>

		<a href="#" data-controls-modal="login-box" data-backdrop="true" data-keyboard="true">login</a>
	<% end %>
</div>
